/* #############################
   Global settings
################################ */

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600;700;800;&display=swap');

/* font-family: 'Karla', sans-serif; */
/* Farbe: #323A45 / #848484 */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Karla', sans-serif;
   font-size: 16px;
   color: #323A45;
}

body {
   width: 90%;
   margin: 0 auto;
}

a {
   text-decoration: none;
   font-weight: 700;
   color: #323A45;
}

/* #############################
   Content settings
################################ */
/* header with logo and nav */

header {
   margin-bottom: 5vh;
}

header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header nav ul {
   display: flex;
   list-style-type: none;
}

header nav li {
   padding: 2vh 0 2vh 5vw;
}

.burger-Menu {
   display: none;
   font-size: 2rem;
   border: 1px solid #000;
   border-radius: 4px;
   padding: 0rem 0.8rem 0.2rem 0.75rem;
}

/* logo as text */
header nav p {
   font-size: 1.5rem;
   font-weight: 800;
}

/* #############################
   Main 
################################ */

/* Navigation for small Devices in Main*/
#vertical-nav {
   margin-bottom: 5vh;
   background-color: rgba(169, 169, 169, 0.2);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   text-align: end;
}

#vertical-nav ul {
   list-style-type: none;
}

#vertical-nav li {
   padding: 5vh 5vw;
}

#vertical-nav li:hover {
   background-color: white;
}
/* END Navigation for small Devices in Main*/

/* ===================================== */
/* css for first hidden Contact form  */
/* ===================================== */
#contact-form-rr {
   width: 50%;
   margin: 10vh auto;
   border: 2px solid black;
   background-color: gainsboro;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact-header {
   display: flex;
   justify-content: space-between;
   text-align: center;
   background-color:grey;
   padding: 0 1rem;
}

#contact-form-rr p {
   font-size: 1.3rem;
   padding: 3vh 0vw;
   color: #fff;
}

#header-close {
   font-size: 2rem;
   color: #fff;
   padding: 1rem;
}

#header-close:hover {
   background-color:darkgray;
}

#contact-form-rr .inp-txt {
   border: 1px gray solid;
   width: 90%;
   display: block;
   font-size: 1rem;
   margin: 3vh auto;
   padding: 1vh 1vw;
   background-color: #fff;
}
   
#contact-form-rr .btn-sub {
   font-size: 2rem;
   padding: 2vh 0vw;
   width: 90%;
   border: none;
   color: #fff;
   background-color: red;
   margin: 0 5% 3vh 5%;
}

#contact-form-rr .btn-sub:focus {
   background-color: rgb(129, 8, 8);
}
/* css for first hidden Contact form */


/* ===================================== */
/* Gallery of Articles                   */
/* ===================================== */
.container-oneCol {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap: 1rem;
   margin-bottom: 3vh;
}

.container-threeCol {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   grid-gap: 1rem;
   margin-bottom: 3vh
}

article {
   width: 100%;
   height: 100%;
   font-size: 0.9rem;
}

.article-image {
   width: 100%;
   transition: all 0.5s;
   display: block;
}

.article-image:hover {
   opacity: 0.3;
}

.article-flex-div {
   margin: 1vh 0;
   display: flex;
   justify-content: space-between;
   font-weight: 600;
}

.article-flex-div .article-txt p:last-child {
   color: #848484;
   font-weight: 300;
   line-height: 2;
}

/* #############################
   Footer 
################################ */

.container-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 15px;
   margin-bottom: 5vh;
}

.footer-middle {
   display: flex;
   justify-content: space-between;
}

.footer-right {
   display: flex;
   justify-self: center;
   flex-direction: column;
}

.footer-header-p {
   font-weight: 600;
   margin: 5vh 0 3vh 0;
}

footer p {
   line-height: 2;
}

/* #############################
   @media queries 
################################ */

@media (max-width: 940px) {
   .container-threeCol {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      margin-bottom: 3vh
   }

   .container-footer {
      display: block;
      margin-bottom: 5vh;
   }

   .footer-middle {
      display: block;
   }
}

@media (max-width: 800px) {
   .burger-Menu {
      display: block;
   }

   header nav ul {
      display: none;
   }

   #contact-form-rr {
      width: 80%;
   }
}

@media (max-width: 600px) {
   .container-threeCol {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      margin-bottom: 3vh
   }

   .container-footer {
      display: block;
      margin-bottom: 5vh;
   }

   .footer-middle {
      display: block;
   }

   #contact-form-rr {
      width: 100%;
   }

}

