/* #############################
   Global settings
################################ */

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600;700;800;&display=swap');

/* font-family: 'Karla', sans-serif; */
/* Farbe: #323A45 / #848484 */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: 'Karla', sans-serif;
   font-size: 16px;
   color: #323A45;
   /* color: #848484; */
}

body {
   width: 90%;
   margin: 0 auto;
}

/* #############################
   Global settings
################################ */
/* header with logo and nav */

header {
   margin-bottom: 5vh;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: flex;
   list-style-type: none;
}

nav li {
   padding: 2vh 0 2vh 5vw;
}

.burger-Menu {
   display: none;
   font-size: 3rem;
}

/* logo as text */
nav p {
   font-size: 1.5rem;
   font-weight: 800;
}

a {
   text-decoration: none;
   font-weight: 700;
   color: #323A45;
}

/* #############################
   Main 
################################ */

.container-oneCol {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   grid-gap: 1rem;
   margin-bottom: 3vh;
}

.container-threeCol {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   grid-gap: 1rem;
   margin-bottom: 3vh
}

article {
   width: 100%;
   height: 100%;
   font-size: 0.9rem;
}

.article-image {
   width: 100%;
}

.article-flex-div {
   margin: 1vh 0;
   display: flex;
   justify-content: space-between;
   font-weight: 600;
}

.article-flex-div .article-txt p:last-child {
   color: #848484;
   font-weight: 300;
   line-height: 2;
}

/* #############################
   Footer 
################################ */

.container-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
   gap: 15px;
   margin-bottom: 5vh;
}

.footer-middle {
   display: flex;
   justify-content: space-between;
}

.footer-right {
   display: flex;
   justify-self: center;
   flex-direction: column;
}

.footer-header-p {
   font-weight: 600;
   margin: 5vh 0 3vh 0;
}

footer p {
   line-height: 2;
}

/* #############################
   @media queries 
################################ */

@media (max-width: 920px) {
   .container-threeCol {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      margin-bottom: 3vh
   }

   .container-footer {
      display: block;
      margin-bottom: 5vh;
   }

   .footer-middle {
      display: block;
   }
}

@media (max-width: 760px) {
   .burger-Menu {
      display: block;
   }

   nav ul {
      display: none;
   }
}

@media (max-width: 600px) {
   .container-threeCol {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-gap: 1rem;
      margin-bottom: 3vh
   }

   .container-footer {
      display: block;
      margin-bottom: 5vh;
   }

   .footer-middle {
      display: block;
   }

}

